@charset "utf-8";
/* CSS Document */

/* Section Header */
#section-header { 
 background-image: url(../img/section-header-link-fr.jpg);
}
.section-home #section-header {
	background-image: url(../img/section-header-fr.jpg);
}
#section-title { left:18px; top: 41px; width: 219px; height: 28px; }